@{
    Layout = "_AdminLayout";
    ViewData["Title"] = "Dashboard";
}

<h1>Dashboard</h1>

<div class="dashboard-cards">
    <div class="card">Total Users<br><b>120</b></div>
    <div class="card">Total Revenue<br><b>$5,400</b></div>
    <div class="card">Payments Today<br><b>23</b></div>
</div>