@{
    Layout = "_AdminLayout";
}

<h1>Manage Payments</h1>

<table>
    <thead>
        <tr>
            <th>Payment ID</th>
            <th>User</th>
            <th>Amount</th>
            <th>Status</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>#PM001</td>
            <td>test@gmail.com</td>
            <td>$50</td>
            <td>Success</td>
        </tr>
    </tbody>
</table>
