@{
    ViewData["Title"] = "Login";
}

<h2>Đăng nhập</h2>

@if (ViewBag.Error != null)
{
    <p style="color:red">@ViewBag.Error</p>
}

<form method="post">
    <div>
        <label>Email</label><br />
        <input type="email" name="email" required />
    </div>

    <div style="margin-top:10px">
        <label>Mật khẩu</label><br />
        <input type="password" name="password" required />
    </div>

    <div style="margin-top:15px">
        <button type="submit">Đăng nhập</button>
    </div>
</form>
