# appsettings
appsettings.json
appsettings.*.json

# ASP.NET build
bin/
obj/

# Visual Studio
.vs/
*.user
*.suo

# Logs
*.log
# Rider / VS Code
.idea/
.vscode/

# EF Core
*.db
*.db-shm
*.db-wal

# Publish output
publish/

# Windows
Thumbs.db