<div class="admin-sidebar">
    <h2 class="logo">ADMIN</h2>
    <ul>
        <li><a href="/Admin">Dashboard</a></li>
        <li><a href="/Admin/Users">Users</a></li>
        <li><a href="/Admin/Payments">Payments</a></li>
        <li><a href="/Admin/Reports">Financial Reports</a></li>

    </ul>
</div>
