<header>
    <nav>
        <a asp-controller="Home" asp-action="Index">Home</a>
        <a asp-controller="Auth" asp-action="Login">Login</a>
        <a asp-controller="Auth" asp-action="Register">Register</a>
        <a asp-controller="Course" asp-action="CreateNewCourse">Create Your Course</a>
        <a asp-controller="Course" asp-action="Index">Course For You</a>
    </nav>
</header>
