on:
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    permissions:
      contents: read
      packages: write
    env:
      REGISTRY: ghcr.io/course-sphere-mvc
    steps:
      - name: Checkout Develop
        uses: actions/checkout@v3
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor}}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Build Image And Push
        run: |
          docker compose -f compose.build.yaml build
          docker compose -f compose.build.yaml push

  deploy:
    runs-on: self-hosted
    needs: [build]
    permissions:
      contents: read
      packages: write
    env:
      REGISTRY: ghcr.io/course-sphere-mvc

      PG_USER: ${{ secrets.PG_USER }}
      PG_PASS: ${{ secrets.PG_PASS }}
      PG_DB: ${{ secrets.PG_DB }}
    steps:
      - name: Checkout Develop
        uses: actions/checkout@v3
      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          registry: ghcr.io
          username: ${{ github.actor}}
          password: ${{ secrets.GITHUB_TOKEN }}
      - name: Clean Container, Image And Prepare For Deploy
        run: docker compose -f compose.yaml -p course-sphere-up down --rmi all -v
      - name: Deploy Application
        run: docker compose -f compose.yaml -p course-sphere-up up -d
